<div style="padding:20px;
            color:white;
            margin:10;
            font-size:170%;
            text-align:left;
            display:fill;
            border-radius:5px;
            background-color:#CA6F1E;
            overflow:hidden;
            font-weight:700"><span style='color:#283747'></span>Data Analysis with Housing Data </div>


<a id="toc"></a> 
<div class="alert alert-block alert-info" style="margin-top: 20px">
<hr>

- [0. Importing Libraries](#importing_libraries)
- [1. Loading the Dataset](#loading_dataset)
    
- [2. Basic Exploration](#basic_data_exploration) 
    
- [3. Data Cleaning](#data_cleaning)
   
<hr>

<a id='importing_libraries'></a>
### 1. Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# from matplotlib import pyplot as plt

<a id='loading_dataset'></a>
### 2. Loading the Dataset

In [ ]:
# df = pd.read_csv('https://raw.githubusercontent.com/ManonYa09/Fundametal_Data_Science_G8/main/Dataset/3.%20housing_data.csv')
# loading data from github

In [ ]:
# df.to_csv('Housing_data.csv', index = False) ## export data to csv file
# df.to_excel('Housing data.xlsx', index=False)

In [4]:
## Laoding the data from local 
df = pd.read_csv('Housing_data.csv')

<a id='basic_data_exploration'></a>
### 3. Basic Data Exploration or Quick Exploration
```python
- df.head() # Displays the first 5 rows of the DataFrame.
- df.shape # show the numbers of rows and columns of dataset
- df.iloc[[rows], [columns]] # df.iloc[[0, 1], [2, 3]]  # Selects rows 0 and 1, columns 2 and 3
- df.loc[[rows], [columns]] # df.loc[[0, 1], ['column1', 'column2']]  # Selects rows 0 and 1, columns 'column1' and 'column2'
- df.dtypes # Returns the data types of each column.
- df.info() # Provides a concise summary of the DataFrame, including the number of non-null entries and data types.
- df.describe() # Generates descriptive statistics for numeric columns, such as count, mean, and standard deviation.
```

In [6]:
df.head()

,region_name,period_begin,period_end,total_homes_sold,inventory,active_listings,age_of_inventory,median_active_list_price,months_of_supply
0,"Appling County, GA",2020-04-27,2020-07-19,NaN,1.0,1.0,222.7,136195.8,NaN
1,"Tooele County, UT",2018-08-27,2018-11-18,325.0,NaN,NaN,NaN,NaN,NaN
2,"Johnson County, TX",2019-09-23,2019-12-15,577.0,717.0,778.0,63.0,268737.6,17.095583
3,"Holmes County, OH",2017-10-09,2017-12-31,22.0,52.0,54.0,109.4,115308.3,34.050000
4,"Madison County, FL",2017-01-09,2017-04-02,12.0,54.0,55.0,151.2,158062.5,38.300000

In [18]:
df.set_index(['period_begin']).iloc[[0, 1,2,3]]

,region_name,period_end,total_homes_sold,inventory,active_listings,age_of_inventory,median_active_list_price,months_of_supply
period_begin,,,,,,,,
2020-04-27,"Appling County, GA",2020-07-19,NaN,1.0,1.0,222.7,136195.8,NaN
2018-08-27,"Tooele County, UT",2018-11-18,325.0,NaN,NaN,NaN,NaN,NaN
2019-09-23,"Johnson County, TX",2019-12-15,577.0,717.0,778.0,63.0,268737.6,17.095583
2017-10-09,"Holmes County, OH",2017-12-31,22.0,52.0,54.0,109.4,115308.3,34.050000
2017-01-09,"Madison County, FL",2017-04-02,12.0,54.0,55.0,151.2,158062.5,38.300000
...,...,...,...,...,...,...,...,...
2019-11-25,"Washita County, OK",2020-02-16,NaN,4.0,4.0,133.0,46650.0,NaN
2019-02-25,"Gray County, TX",2019-05-19,NaN,1.0,1.0,180.5,62500.0,NaN
2020-02-24,"Custer County, OK",2020-05-17,NaN,15.0,15.0,52.7,130120.8,NaN
2019-12-30,"Choctaw County, MS",2020-03-22,NaN,2.0,3.0,46.0,115268.7,NaN
2022-02-14,"Morehouse Parish, LA",2022-05-08,NaN,30.0,33.0,59.7,139979.1,NaN

In [14]:
df.iloc[[2000,3000, 20000],[0, 1, 2, 3]]

               region_name period_begin  period_end  total_homes_sold
2000   Haralson County, GA   2021-09-20  2021-12-12             136.0
3000   Lawrence County, AL   2018-10-22  2019-01-13              36.0
20000     Wayne County, TN   2021-06-21  2021-09-12              23.0

In [16]:
df.loc[[0,1,2,3],['region_name',]]

          region_name
0  Appling County, GA
1   Tooele County, UT
2  Johnson County, TX
3   Holmes County, OH

In [10]:
num_rows, num_columns = df.shape
# print()

In [24]:
df.dtypes

region_name                  object
period_begin                 object
period_end                   object
total_homes_sold            float64
inventory                   float64
active_listings             float64
age_of_inventory            float64
median_active_list_price    float64
months_of_supply            float64
dtype: object

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 622339 entries, 0 to 622338
Data columns (total 9 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   region_name               622339 non-null  object
 1   period_begin              622339 non-null  object
 2   period_end                622339 non-null  object
 3   total_homes_sold          567839 non-null  float64
 4   inventory                 616247 non-null  float64
 5   active_listings           616905 non-null  float64
 6   age_of_inventory          616247 non-null  float64
 7   median_active_list_price  616513 non-null  float64
 8   months_of_supply          561319 non-null  float64
dtypes: float64(6), object(3)
memory usage: 42.7+ MB

In [20]:
df.describe() # descriptive Statistics

,total_homes_sold,inventory,active_listings,age_of_inventory,median_active_list_price,months_of_supply
count,567839.000000,616247.000000,616905.000000,616247.000000,6.165130e+05,561319.000000
mean,465.184219,415.449284,454.787632,76.823044,2.712133e+05,18.894937
std,1216.840272,1176.440133,1278.428643,42.818934,4.375623e+06,29.910629
min,1.000000,1.000000,1.000000,0.000000,1.258500e+03,0.025958
25%,17.000000,18.000000,19.000000,48.900000,1.406041e+05,9.663503
50%,77.000000,79.000000,85.000000,68.100000,2.038583e+05,15.471320
75%,344.000000,312.000000,341.000000,93.300000,2.960407e+05,23.408333
max,24385.000000,23357.000000,25012.000000,365.000000,1.000000e+09,1849.000000

In [ ]:
df.iloc[[0, 7, 14, 21, 28]]

In [ ]:
df.iloc[0::7].head()

In [ ]:
df.iloc[0::8].tail()

3. Exercises

    a. Check Datatype of Each Column
    
    b. How many rows and columns are there in our Dataset?

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df['active_listings'].info()

In [ ]:
str_columns, number_columns

In [ ]:
df.dtypes

<a id= 'data_cleaning'><a/>
### 3. Data Cleaning
```python
- df.isnull().sum() # Displays the number of missing (null) values in each column
- df[column].isnull() # Returns a boolean series indicating whether each value in the specified column is missing.
- df.dropna(inplace = True) | dataset = df.dropna() # Removes all rows with missing values. Using inplace=True modifies the DataFrame directly, while assigning to a new variable keeps the original DataFrame unchanged.
- df.duplicated().sum() # Returns the number of duplicate rows in the DataFrame.
```

In [55]:
df[df['region_name']=='Tooele County, UT'].dropna()

Empty DataFrame
Columns: [region_name, period_begin, period_end, total_homes_sold, inventory, active_listings, age_of_inventory, median_active_list_price, months_of_supply]
Index: []

In [59]:
df

,region_name,period_begin,period_end,total_homes_sold,inventory,active_listings,age_of_inventory,median_active_list_price,months_of_supply
0,"Appling County, GA",2020-04-27,2020-07-19,NaN,1.0,1.0,222.7,136195.8,NaN
1,"Tooele County, UT",2018-08-27,2018-11-18,325.0,NaN,NaN,NaN,NaN,NaN
2,"Johnson County, TX",2019-09-23,2019-12-15,577.0,717.0,778.0,63.0,268737.6,17.095583
3,"Holmes County, OH",2017-10-09,2017-12-31,22.0,52.0,54.0,109.4,115308.3,34.050000
4,"Madison County, FL",2017-01-09,2017-04-02,12.0,54.0,55.0,151.2,158062.5,38.300000
...,...,...,...,...,...,...,...,...,...
622334,"Washita County, OK",2019-11-25,2020-02-16,NaN,4.0,4.0,133.0,46650.0,NaN
622335,"Gray County, TX",2019-02-25,2019-05-19,NaN,1.0,1.0,180.5,62500.0,NaN
622336,"Custer County, OK",2020-02-24,2020-05-17,NaN,15.0,15.0,52.7,130120.8,NaN
622337,"Choctaw County, MS",2019-12-30,2020-03-22,NaN,2.0,3.0,46.0,115268.7,NaN
622338,"Morehouse Parish, LA",2022-02-14,2022-05-08,NaN,30.0,33.0,59.7,139979.1,NaN

In [51]:
df.columns

Index(['region_name', 'period_begin', 'period_end', 'total_homes_sold',
       'inventory', 'active_listings', 'age_of_inventory',
       'median_active_list_price', 'months_of_supply'],
      dtype='object')

In [53]:
df[df['region_name']=='Tooele County, UT'].drop(['inventory', 'active_listings', 'age_of_inventory',
       'median_active_list_price', 'months_of_supply'], axis = 1)

              region_name period_begin  period_end  total_homes_sold
1       Tooele County, UT   2018-08-27  2018-11-18             325.0
6482    Tooele County, UT   2020-12-07  2021-02-28             269.0
8181    Tooele County, UT   2020-11-02  2021-01-24             306.0
13837   Tooele County, UT   2020-02-10  2020-05-03             296.0
15556   Tooele County, UT   2017-12-18  2018-03-11             296.0
...                   ...          ...         ...               ...
609923  Tooele County, UT   2019-10-14  2020-01-05             296.0
610432  Tooele County, UT   2019-12-16  2020-03-08             264.0
611246  Tooele County, UT   2018-05-21  2018-08-12             373.0
614179  Tooele County, UT   2018-10-08  2018-12-30             301.0
619518  Tooele County, UT   2021-12-20  2022-03-13             285.0

[278 rows x 4 columns]

In [39]:
df['inventory'].isnull()

0         False
1          True
2         False
3         False
4         False
          ...
622334    False
622335    False
622336    False
622337    False
622338    False
Name: inventory, Length: 622339, dtype: bool

In [37]:
df[df['inventory'].isnull()]

,region_name,period_begin,period_end,total_homes_sold,inventory,active_listings,age_of_inventory,median_active_list_price,months_of_supply
1,"Tooele County, UT",2018-08-27,2018-11-18,325.0,NaN,NaN,NaN,NaN,NaN
127,"Livingston Parish, LA",2017-10-02,2017-12-24,407.0,NaN,NaN,NaN,NaN,NaN
190,"St. Helena Parish, LA",2017-07-03,2017-09-24,4.0,NaN,NaN,NaN,NaN,NaN
254,"West Feliciana Parish, LA",2017-03-20,2017-06-11,33.0,NaN,NaN,NaN,NaN,NaN
344,"Salt Lake County, UT",2020-12-28,2021-03-21,3218.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
621673,"Dale County, AL",2020-01-06,2020-03-29,18.0,NaN,NaN,NaN,NaN,NaN
621726,"West Baton Rouge Parish, LA",2019-04-22,2019-07-14,57.0,NaN,NaN,NaN,NaN,NaN
621894,"Livingston Parish, LA",2017-01-16,2017-04-09,468.0,NaN,NaN,NaN,NaN,NaN
622100,"Livingston Parish, LA",2018-11-05,2019-01-27,337.0,NaN,NaN,NaN,NaN,NaN
622211,"Clay County, MS",2021-10-18,2022-01-09,1.0,NaN,1.0,NaN,NaN,NaN

In [ ]:
df.duplicated().sum()

## check missing vlaues

4. Missing values
    - Which columns in the dataset contain missing values, and how many missing values are in each?
    - What is the percentage of missing values in each column?
    - Please remove the missing values.

In [31]:
df.isnull().sum() # True = 1, Fasle = 0

region_name                     0
period_begin                    0
period_end                      0
total_homes_sold            54500
inventory                    6092
active_listings              5434
age_of_inventory             6092
median_active_list_price     5826
months_of_supply            61020
dtype: int64

In [ ]:
df.columns

In [ ]:
df['inventory'].isnull().sum()

In [ ]:
missing_values_columns = []

for column in df.columns:
    if df[column].isnull().sum()>0:
        missing_values_columns.append(column)
missing_values_columns

In [ ]:
# round(missingvalue*100/len(df),2)

In [ ]:
missing_values_columns = []
print('''Missing values
    - Which columns in the dataset contain missing values, and how many missing values are in each?
    - What is the percentage of missing values in each column?\n''')
for column in df.columns:
    if df[column].isnull().sum()>0:
        print(f'{column}: {df[column].isnull().sum()}, percentage: {round(df[column].isnull().sum()*100/len(df),2)} %')
        missing_values_columns.append(column)
# missing_values_columns

In [ ]:
missing_values_columns

In [ ]:
# columns_missing_values

In [ ]:
round(df.isnull().sum()*100/len(df),2)

In [ ]:
missing_values = round(df.isnull().sum()*100/len(df), 2).reset_index()

In [ ]:
columns_valuesmissing_values[missing_values[0]>0]['index'].unique()

### Drop Missing vlaues

In [61]:
dataset  = df.dropna()

In [71]:
dataset.duplicated().sum()

0

5. Exericses 

    a. Total Homes Sold by Region(by State): Group the data by region_name and calculate the total number of homes sold in each region.

    b. Average Inventory by Region(by State): Group the data by region_name and calculate the average inventory for each region.

    c. Median Active List Price by Region(by State): Group the data by region_name and find the median active list price for each region.

	d.	Average Age of Inventory by Region ( By County): Group the data by region_name and calculate the average age of inventory for each region.
    
	e.	Total Active Listings by Region (State): Group the data by region_name and calculate the total number of active listings for each region.
    e. Calculate the highest, lowest, and average values in the column 'median_active_list_price'.

In [82]:
dataset.head()

,region_name,period_begin,period_end,total_homes_sold,inventory,active_listings,age_of_inventory,median_active_list_price,months_of_supply
2,"Johnson County, TX",2019-09-23,2019-12-15,577.0,717.0,778.0,63.0,268737.6,17.095583
3,"Holmes County, OH",2017-10-09,2017-12-31,22.0,52.0,54.0,109.4,115308.3,34.050000
4,"Madison County, FL",2017-01-09,2017-04-02,12.0,54.0,55.0,151.2,158062.5,38.300000
5,"Barry County, MO",2020-11-23,2021-02-14,79.0,70.0,77.0,82.8,196509.1,13.157870
6,"Sacramento County, CA",2020-06-22,2020-09-13,5107.0,1729.0,2206.0,27.5,445540.9,5.235794

In [88]:
str(['Johnson County',  'TX'])

"['Johnson County', 'TX']"

In [92]:
dataset['region_state'] = dataset['region_name'].str.split(',').str[-1]

/var/folders/7h/0019w3h141s2b0z27906x13c0000gn/T/ipykernel_4667/1104175557.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['region_state'] = dataset['region_name'].str.split(',').str[-1]

In [94]:
dataset

,region_name,period_begin,period_end,total_homes_sold,inventory,active_listings,age_of_inventory,median_active_list_price,months_of_supply,region_state
2,"Johnson County, TX",2019-09-23,2019-12-15,577.0,717.0,778.0,63.0,268737.6,17.095583,TX
3,"Holmes County, OH",2017-10-09,2017-12-31,22.0,52.0,54.0,109.4,115308.3,34.050000,OH
4,"Madison County, FL",2017-01-09,2017-04-02,12.0,54.0,55.0,151.2,158062.5,38.300000,FL
5,"Barry County, MO",2020-11-23,2021-02-14,79.0,70.0,77.0,82.8,196509.1,13.157870,MO
6,"Sacramento County, CA",2020-06-22,2020-09-13,5107.0,1729.0,2206.0,27.5,445540.9,5.235794,CA
...,...,...,...,...,...,...,...,...,...,...
622313,"Boulder County, CO",2018-01-15,2018-04-08,973.0,746.0,838.0,44.9,647883.0,10.992834,CO
622315,"Randolph County, MO",2019-03-11,2019-06-02,21.0,12.0,13.0,23.5,122793.7,9.219697,MO
622324,"Sullivan County, IN",2018-03-05,2018-05-27,1.0,10.0,10.0,87.1,61741.6,10.000000,IN
622329,"Clatsop County, OR",2019-06-03,2019-08-25,1.0,4.0,4.0,53.7,650000.0,4.000000,OR
622332,"Coke County, TX",2020-01-20,2020-04-12,10.0,4.0,4.0,25.8,86304.1,4.208333,TX

In [100]:
dataset['region_state1']= dataset['region_name'].str[-2:]

/var/folders/7h/0019w3h141s2b0z27906x13c0000gn/T/ipykernel_4667/618056564.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['region_state1']= dataset['region_name'].str[-2:]

In [102]:
dataset.head()

,region_name,period_begin,period_end,total_homes_sold,inventory,active_listings,age_of_inventory,median_active_list_price,months_of_supply,region_state,region_state1
2,"Johnson County, TX",2019-09-23,2019-12-15,577.0,717.0,778.0,63.0,268737.6,17.095583,TX,TX
3,"Holmes County, OH",2017-10-09,2017-12-31,22.0,52.0,54.0,109.4,115308.3,34.050000,OH,OH
4,"Madison County, FL",2017-01-09,2017-04-02,12.0,54.0,55.0,151.2,158062.5,38.300000,FL,FL
5,"Barry County, MO",2020-11-23,2021-02-14,79.0,70.0,77.0,82.8,196509.1,13.157870,MO,MO
6,"Sacramento County, CA",2020-06-22,2020-09-13,5107.0,1729.0,2206.0,27.5,445540.9,5.235794,CA,CA

In [108]:
dataset['region_name'].str[:-11].value_counts()

region_name
Washington    7046
Jefferson     5545
Franklin      5307
Jackson       5071
Montgomery    4430
              ...
Ochiltree        4
Cochran          4
Randall          3
Gaines           1
Dunklin          1
Name: count, Length: 1432, dtype: int64

In [ ]:
df['region_name'].unique()

In [ ]:
len(dataset['region_name'].value_counts())

In [ ]:
dataset['region_name'].value_counts()

In [ ]:
dataset['region_name'].nunique()

In [79]:
'Culberson ,County, TX'.split(',')

['Culberson ', 'County', ' TX']

In [45]:
df[df['region_name']=='Tooele County, UT'].isnull().sum()

region_name                   0
period_begin                  0
period_end                    0
total_homes_sold              0
inventory                   278
active_listings             278
age_of_inventory            278
median_active_list_price    278
months_of_supply            278
dtype: int64

In [ ]:
dataset.head()

In [ ]:
dataset['region_name'].str.split().str[1]

In [ ]:
dataset['Region_state'] = dataset['region_name'].str.split(',').str[1]

In [ ]:
dataset.head()

In [ ]:
len(dataset.groupby(dataset['Region_state'])[['total_homes_sold']].sum())

In [ ]:
# dataset.groupby(dataset['Region_state'])[['total_homes_sold']].sum()

In [ ]:
dataset.columns

In [ ]:
dataset[['median_active_list_price', 'months_of_supply']]

 b. Average Inventory by Region(by State): Group the data by region_name and calculate the average inventory for each region.

    c. Median Active List Price by Region(by State): Group the data by region_name and find the median active list price for each region.

	d.	Average Age of Inventory by Region ( By County): Group the data by region_name and calculate the average age of inventory for each region.

In [ ]:
# dataset.groupby(dataset['Region_state'])[['total_homes_sold', 'median_active_list_price','age_of_inventory' ]].sum()

In [ ]:
# dataset.groupby(dataset['Region_state'])[['total_homes_sold']].sum().sort_values('total_homes_sold')

In [ ]:
dataset['region_name'].str.split(',').str[0].str.split().str[0]

In [ ]:
Los Angles

In [ ]:
dataset['region_county'] = dataset['region_name'].str.split(',').str[0].str.split().str[0]

In [ ]:
dataset.columns

In [ ]:
dataset.groupby(dataset['region_name'])['months_of_supply'].agg(['sum', 'min', 'max','mean'])

In [ ]:
dataset.groupby(dataset['region_county'])['months_of_supply'].agg(['sum', 'min', 'max','mean'])

In [ ]:
dataset.groupby(dataset['region_county'])['age_of_inventory'].sum()

In [ ]:
dataset.groupby(dataset['region_name'])

    d.	Average Age of Inventory by Region ( By County): Group the data by region_name and calculate the average age of inventory for each region.
    
	e.	Total Active Listings by Region (State): Group the data by region_name and calculate the total number of active listings for each region.
    f. Calculate the highest, lowest, and average values in the column 'median_active_list_price'.

In [ ]:
dataset['median_active_list_price'].agg(['max', 'min','mean', 'count', 'sum', 'std','var', 'median'])

5. Exericses 

    a. Total Homes Sold by Region(by State): Group the data by region_name and calculate the total number of homes sold in each region.

    b. Average Inventory by Region(by State): Group the data by region_name and calculate the average inventory for each region.

    c. Median Active List Price by Region(by State): Group the data by region_name and find the median active list price for each region.

	d.	Average Age of Inventory by Region ( By County): Group the data by region_name and calculate the average age of inventory for each region.
    
	e.	Total Active Listings by Region (State): Group the data by region_name and calculate the total number of active listings for each region.
    f. Calculate the highest, lowest, and average values in the column 'median_active_list_price'.

6. Show the top 6 highest values in the 'median_active_list_price' column.
8. How many counties  are provided in `California (CA)` in the dataset?
9. How many regions are provided for specific states like Virginia (VA), Tennessee (TN), District of Columbia (DC), California (CA), etc.?

In [ ]:
dataset.head()

In [ ]:
dataset[dataset['region_county']=='Johnson']

In [ ]:
# '    hello wolld'.strip()

In [ ]:
dataset['region_county'] = dataset['region_name'].str[:-11]

In [ ]:
dataset[dataset['Region_state']==' CA']['region_county'].value_counts()

In [ ]:
dataset['region_name']

In [ ]:
dataset['Region_state'].value_counts()